.hero__btn {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    padding: 10px 32px;

    color: $white-color;

    background: $active-color;
    border-radius: 4px;
    border-style: none;

    margin-top: 30px;
    transition: background-color 250ms $timing-function, box-shadow 250ms $timing-function;

    &:hover, &:focus  {
        cursor: pointer;
        background-color: $bg-color-btn;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }
}

.btn-filter {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    margin-bottom: 40px;
    @media screen and (min-width: $tablet) {
        margin-bottom: 30px;
        justify-content: center;
    }
    @media screen and (min-width: $desktop) {
        margin-bottom: 50px;
    }

    &__item:not(:last-child) {
        margin-right: 8px;
    }

    &__item {
        @media screen and (max-width: $tablet - 1px) {
            margin-bottom: 15px;
        }
    }

    @media screen and (min-width: $tablet) {
        margin-left: auto;
        margin-right: auto;
    }
}

.btn-portfolio {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
    padding: 6px 22px;

    color: $main-color;
    background: $bg-light;
    border-radius: 4px;
    border-style: none;
    transition: background-color 250ms $timing-function, color 250ms $timing-function, border 250ms $timing-function, box-shadow 250ms $timing-function;

    &:hover, &:focus {
        cursor: pointer;
        background: $active-color;
        color: $white-color;
    
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }
}

.footer-subscribe__btn {
    position: relative;
    width: 200px;
    height: 50px;

    display: inline-flex;

    padding: 10px 28px;
    
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    
    color: $white-color;
    background-color: $active-color;
    
    cursor: pointer;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    font-family: inherit;
    transition: background-color 250ms $timing-function, box-shadow 250ms $timing-function;

    &:hover, &:focus {
        cursor: pointer;
        background-color: #188CE8;
    }
}
